<form class="mb-3" action="{% url 'recipe_filter' %}" method="get" role="search">
    <div class="d-flex mb-3">
        <input class="form-control me-2" type="search" placeholder="Поиск рецептов по названию" aria-label="Search"
               name="title" value="{{ request.GET.title }}">
        <button class="btn btn-outline-success" type="submit">Искать</button>
    </div>

    <div>
        <select class="form-select" aria-label="Сортировка" name="order_by">
            <option selected value="oldest">Сначала старые</option>
            <option value="newest">Сначала новые</option>
            <option value="title">По алфавиту</option>
            <option value="views">Самые просматриваемые</option>
        </select>
    </div>
</form>