{% extends "base.html" %}
{% load static %}

{% block title %}{{ recipe.title }}{% endblock title %}
{% block h1 %}{{ recipe.title }}{% endblock h1 %}

{% block content %}
<div class="mb-3">
    <strong>Создан: </strong>{{ recipe.created_at|date }} |
    <strong>Обновлен: </strong>{{ recipe.updated_at|date }}
</div>
<div class="mb-3">
    <strong>Автор: </strong>{{ recipe.user.username }}
</div>
<section class="row">
    <div class="col-lg-4">
        {% if recipe.image %}
        <img class="img-fluid rounded-start mx-auto d-block" src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
        {% else %}
        <img class="img-fluid rounded-start mx-auto d-block" src="{% static 'img/recipe-placeholder.png' %}"
             alt="{{ recipe.title }}">
        {% endif %}
    </div>
    <div class="col-lg-6">
        <h2>Ингредиенты:</h2>
        {% for ingredient in ingredients %}
        <p>{{ ingredient.ingredient.name }} - {{ ingredient.quantity }} {{ ingredient.unit }}</p>
        {% endfor %}
        <hr>
        <h2>Рецепт:</h2>
        <p>{{ recipe.content|linebreaks }}</p>
    </div>
</section>
{% endblock content %}