{% extends "base.html" %}

{% block title %}Удаление рецепта{% endblock title %}

{% block h1 %}Вы действительно хотите удалить рецепт "{{ recipe.title }}"?{% endblock h1 %}

{% block content %}

<form class="mt-2 mb-2" action="{% url 'recipe_delete' recipe.pk %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary btn-block">Да</button>
    <a href="{{ recipe.get_absolute_url }}" class="btn btn-danger btn-block">Отмена</a>
</form>

{% endblock content %}