{% extends "base.html" %}
{% load static %}

{% block title %}Редактирование информации о пользователе {{ user.username }}{% endblock title %}
{% block h1 %}Редактирование информации о пользователе {{ user.username }}{% endblock h1 %}

{% block content %}
<section class="row">
    <div class="col-lg-6">
        <h2>Основная информация</h2>
        <p><strong>Имя:</strong> {{ user.first_name }}</p>
        <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <a href="{% url 'user_update_main_info' user.username %}" class="btn btn-primary">Редактировать</a>
    </div>
    <div class="col-lg-6">
        <h2>Дополнительная информация</h2>
        <p><strong>Аватар:</strong></p>
        {% if additional_info.avatar %}
        <img class="img-fluid rounded-start mx-auto d-block" src="{{ additional_info.avatar.url }}" alt="Аватар">
        {% else %}
        <p>Нет аватара</p>
        {% endif %}
        <p><strong>Дата рождения:</strong> {{ additional_info.date_of_birth }}</p>
        <p><strong>Место проживания:</strong> {{ additional_info.place }}</p>
        <p><strong>О себе:</strong></p>
        <p>{{ additional_info.about|linebreaks }}</p>
        <a href="{% url 'user_update_additional_info' user.username %}" class="btn btn-primary">Редактировать</a>
    </div>
</section>
{% endblock content %}