{% extends "base.html" %}

{% block title %}Редактирование основной информации о пользователе {{ user.username }}{% endblock title %}

{% block h1 %}Редактирование основной информации о пользователе {{ user.username }}{% endblock h1 %}

{% block content %}

<form class="mt-2 mb-2" action="{% url 'user_update_main_info' user.username %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
</form>

{% endblock content %}