{% extends "base.html" %}
{% load static %}

{% block title %}Информация о пользователе {{ user.username }}{% endblock title %}
{% block h1 %}Информация о пользователе {{ user.username }}{% endblock h1 %}

{% block content %}
{% if request.user == user %}
<a href="{% url 'user_update_info' user.username %}" class="btn btn-primary mb-3">Редактировать информацию</a>
{% endif %}
<section class="row">
    <div class="col-lg-4">
        {% if additional_info.avatar %}
        <img class="img-fluid rounded-start mx-auto d-block" src="{{ additional_info.avatar.url }}" alt="Аватар">
        {% else %}
        <img class="img-fluid rounded-start mx-auto d-block" src="{% static 'img/user-placeholder.jpg' %}" alt="Аватар">
        {% endif %}
    </div>

    <div class="col-lg-6">
        <p><strong>Имя:</strong> {{ user.first_name }}</p>
        <p><strong>Фамилия:</strong> {{ user.last_name }}</p>
        <p><strong>Дата рождения:</strong> {{ additional_info.date_of_birth }}</p>
        <p><strong>Место проживания:</strong> {{ additional_info.place }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Дата регистрации:</strong> {{ user.date_joined }}</p>
        <p><strong>Был в сети:</strong> {{ user.last_login }}</p>
    </div>

    <div class="mt-3">
    <h2>О себе:</h2>
    <p>{{ additional_info.about|linebreaks }}</p>
    </div>
</section>
{% endblock content %}